@{
    ViewData["Title"] = "Home Page";
}

<div id="root"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="@Url.Content("~/js/App.jsx")"></script>



@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="homecolumn">
    <div>
        <img src="/Image/pexels-diana-agapova-7150986.jpg" width="400px" height="550px">
    </div>
    <div class="blackbtn">
        <a asp-action="Index" asp-controller="ToDoes" type="button" class="btn btn-dark blackbtn1">Go To ToDoes List</a>
    </div>

</div>
